{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", tab, {"SwitchCase": 1}],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-tabs": "off",
        "react/jsx-indent": [2, 'tab'],
        "import/no-unresolved": [2, {"caseSensitive": false}],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "no-console": ["error", allow: ["log"]],
        "react/jsx-indent-props": [2, 'tab'],
        "no-plusplus": ["off", { "allowForLoopAfterthoughts": true}],
        "comma-dangle": ["error", "never"],
        "no-restricted-syntax": ["error"],
        "no-use-before-define": ["error", { "functions": false }],
        "no-confusing-arrow": ["off", {"allowParens": true}],
        "no-continue": "off"
    },
    "globals": {
        "document": false,
        "describe": false,
        "it": false,
        "beforeEach": true,
        "expect": true,
        "window": true
    }
}
